<!DOCTYPE html>
<html>
<head>
        <title>Features</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
		    .btn-outlined {
		    border-radius: 0;
		    -webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
            transition: all 0.3s;
		}

		.btn-outlined.btn-theme {
		    background: none;
		    color: #6f5499;
		    border-color: #6f5499;
		}

		.btn-outlined.btn-theme:hover,
		.btn-outlined.btn-theme:active {
		    color: #FFF;
		    background: #6f5499;
		    border-color: #6f5499;
		}
  		</style>
</head>
<body>
	<center>
		<p> Success Featuresis added</p>
        <a href="/output/" class="btn btn-outlined btn-theme btn-xs" data-wow-delay="0.7s">Show All Release Notes</a>

</center>
</body>
</html>